<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>controller.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlets</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductCreateServlet</servlet-name>
        <servlet-class>controller.ProductCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductsServlet</servlet-name>
        <servlet-class>controller.ShowProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeServlet</servlet-name>
        <servlet-class>controller.AdminHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>controller.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>controller.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>controller.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DipartServlet</servlet-name>
        <servlet-class>controller.DipartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductUpdateServlet</servlet-name>
        <servlet-class>controller.ProductUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreServlet</servlet-name>
        <servlet-class>controller.StoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreHomeServlet</servlet-name>
        <servlet-class>controller.StoreHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityServlet</servlet-name>
        <servlet-class>controller.UpdateQuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryServlet</servlet-name>
        <servlet-class>controller.DeliveryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderItemServlet</servlet-name>
        <servlet-class>controller.OrderItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopeSale</servlet-name>
        <servlet-class>controller.ShopeSale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminChartServlet</servlet-name>
        <servlet-class>controller.AdminChartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopSearchServlet</servlet-name>
        <servlet-class>controller.ShopSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopDetailServlet</servlet-name>
        <servlet-class>controller.ShopDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStoreServlet</servlet-name>
        <servlet-class>controller.UpdateStoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>controller.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusOrderItemServlet</servlet-name>
        <servlet-class>controller.UpdateStatusOrderItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusOrderItemServlet2</servlet-name>
        <servlet-class>controller.UpdateStatusOrderItemServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusOrderItemServlet3</servlet-name>
        <servlet-class>controller.UpdateStatusOrderItemServlet3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/DetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductCreateServlet</servlet-name>
        <url-pattern>/ProductCreateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductsServlet</servlet-name>
        <url-pattern>/ShowProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomeServlet</servlet-name>
        <url-pattern>/AdminHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/ProductDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DipartServlet</servlet-name>
        <url-pattern>/DipartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductUpdateServlet</servlet-name>
        <url-pattern>/ProductUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreServlet</servlet-name>
        <url-pattern>/StoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreHomeServlet</servlet-name>
        <url-pattern>/StoreHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityServlet</servlet-name>
        <url-pattern>/UpdateQuantityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryServlet</servlet-name>
        <url-pattern>/DeliveryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderItemServlet</servlet-name>
        <url-pattern>/OrderItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopeSale</servlet-name>
        <url-pattern>/ShopeSale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminChartServlet</servlet-name>
        <url-pattern>/AdminChartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopSearchServlet</servlet-name>
        <url-pattern>/ShopSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopDetailServlet</servlet-name>
        <url-pattern>/ShopDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStoreServlet</servlet-name>
        <url-pattern>/UpdateStoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusOrderItemServlet</servlet-name>
        <url-pattern>/UpdateStatusOrderItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusOrderItemServlet2</servlet-name>
        <url-pattern>/UpdateStatusOrderItemServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusOrderItemServlet3</servlet-name>
        <url-pattern>/UpdateStatusOrderItemServlet3</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ShowProductsServlet</welcome-file>
        <!--<welcome-file>index.jsp</welcome-file>-->
    </welcome-file-list>
</web-app>
